:root {
	--main-bg-color: #333;
}

.bg-main {
	background-color: var(--main-bg-color);
}

.search-results {
	.query {
		font-style: italic;
	}

	h2 {
		font-size: inherit;
		margin-top: 0;
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;
	}

	li + li {
		margin-top: 1rem;
	}
}
